
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

h1, h2, h3, h4, h5, h6, a, p, li, span, div {
  letter-spacing: 0.05em;
  font-weight: 300;
}


.content {
  padding: 0 0 100px;
  position: relative;
}

footer {
  bottom: 0;
  height: 100px;
  left: 0;
  position: relative;
  width: 100%;
  a {
    color: #1f648b;
    &:hover {
      color: #1f648b;
    }
  }
}